.post-form-section {
    min-height: calc(100vh + 1111px);
    margin-bottom: 20px;
}

.post-form-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-form-section form > input {
    padding: 5px;
    resize: none;
}

.post-form-section form > input[type="submit"] {
    width: 150px;
    margin-left: auto;
}

.post-form-section form > textarea {
    height: 200px;
}
