.home-section {
    min-height: calc(100vh - 111px);
}

.brief-intro {
    background-color: var(--main-color);
    padding: 60px 0;
    overflow: hidden;
}

.brief-intro .flex {
    display: flex;
}

.brief-intro .container .info {
    width: 50%;
}

.brief-intro .img {
    width: 50%;
    display: flex;
    align-items: center;
}

.brief-intro img {
    width: 410px;
}

.brief-intro .info {
    color: white;
}

.brief-intro .info h1 {
    font-family: cursive;
    font-size: 34px;
    margin-bottom: 15px;
}

.home-section .social-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.more-projects {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.more-projects div {
    position: relative;
    width: fit-content;
}

.more-projects .icon {
    color: var(--main-color);
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.more-projects .left {
    left: -10px;
    animation: alternate-left 1s ease-in-out alternate infinite;
}

.more-projects .right {
    right: -10px;
    animation: alternate-right 1s ease-in-out alternate infinite;
}

@keyframes alternate-left {
    0% {
        left: -10px;
    }
    50% {
        left: -20px;
    }
    100% {
        left: -10px;
    }
}

@keyframes alternate-right {
    0% {
        right: -10px;
    }
    50% {
        right: -20px;
    }
    100% {
        right: -10px;
    }
}

.more-projects a {
    color: var(--main-color);
    font-weight: 700;
}

@media (max-width: 768px) {
    .brief-intro .img {
        display: none;
    }

    .brief-intro .container .info {
        width: 100%;
    }

    .social-links {
        justify-content: center;
    }
}
