.social-link {
    height: 27px;
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
    color: black;
    font-size: 14px;
    border-radius: 3px;
}
