.post-page {
    min-height: calc(100vh - 111px);
}

.post-page .post {
    margin-bottom: 20px;
}

.post-page .post .post-header .post-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-page .post .post-header .post-social .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-page .post .post-author {
    font-size: 1rem;
    font-weight: 700;
}

.post-page .post .post-image {
    margin-bottom: 10px;
}

.post-page .post .post-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.post-page .post .post-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.post-page .post .post-info {
    border-top: 1px solid #ddd;
    padding: 5px 0 0 0;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.post-page .post .post-info .post-date {
    font-size: 0.8rem;
    color: #777;
}

code {
    background-color: #eee;
    padding: 2px 5px;
    border-radius: 3px;
    width: 100%;
}
